<a href="https://colab.research.google.com/github/OmPrakashGH/Python-Basics/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

In [12]:
sen1 = "My name is"
sen2 =  "Om Prakash Pradhan"
word = "Almabetter"

## String Concatenation

In [13]:
print(sen1+' '+sen2+'.')

My name is Om Prakash Pradhan.

## String slicing

In [14]:
print(sen1[3:5])

# without starting index
print("sen2[:6]-",sen2[:6])

# without ending index
print("word[5:]-",word[5:])

# slicing with step size
print("word[::2]-",word[::2])

# reversing the string by negative step size
print("word[::-1]-",word[::-1])

na
sen2[:6]- Om Pra
word[5:]- etter
word[::2]- Ambte
word[::-1]- rettebamlA

## String Methods

In [15]:
word = "Almabetter"

In [16]:
len(word)

10

**capitalize():** returns a string where the first character is upper case, and the rest is lower case.

In [17]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

**count():**	Returns the number of times a specified value occurs in a string

In [18]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

**endswith():**	Returns true if the string ends with the specified value

**startswith():**	Returns true if the string starts with the specified value

In [19]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True
True

**find()**	Searches the string for a specified value and returns the position of where it was found

In [20]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

**format()**	Formats specified values in a string

In [21]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

**isalnum()**	Returns True if all characters in the string are alphanumeric

**isalpha()**	Returns True if all characters in the string are in the alphabet

**isdigit()**	Returns True if all characters in the string are digits

In [22]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [23]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [24]:
txt = "50800"

x = txt.isdigit()

print(x)

True

**lower()**	Converts a string into lower case

**upper()**	Converts a string into upper case

**swapcase()** Swaps cases, lower case becomes upper case and vice versa

In [25]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [26]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

**replace()**	Returns a string where a specified value is replaced with a specified value

In [27]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

**zfill()**	Fills the string with a specified number of 0 values at the beginning

In [28]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

**split()**	Splits the string at the specified separator, and returns a list

In [29]:
txt = "welcome to the jungle"

x = txt.split(' ')

print(x)

['welcome', 'to', 'the', 'jungle']

**join()**	Converts the elements of an iterable into a string

In [30]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky