<a href="https://colab.research.google.com/github/OmPrakashGH/Python-Basics/blob/main/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

In [ ]:
sen1 = "My name is"
sen2 =  "Om Prakash Pradhan"
word = "Almabetter"

## String Concatenation

In [ ]:
print(sen1+' '+sen2+'.')

My name is Om Prakash Pradhan.

## String slicing

In [ ]:
print(sen1[3:5])

# without starting index
print("sen2[:6]-",sen2[:6])

# without ending index
print("word[5:]-",word[5:])

# slicing with step size
print("word[::2]-",word[::2])

# reversing the string by negative step size
print("word[::-1]-",word[::-1])

na
sen2[:6]- Om Pra
word[5:]- etter
word[::2]- Ambte
word[::-1]- rettebamlA

## String Methods

In [ ]:
word = "Almabetter"

In [ ]:
len(word)

10

**capitalize():** returns a string where the first character is upper case, and the rest is lower case.

In [ ]:
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

**count():**	Returns the number of times a specified value occurs in a string

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

**endswith():**	Returns true if the string ends with the specified value

**startswith():**	Returns true if the string starts with the specified value

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True
True

**find()**	Searches the string for a specified value and returns the position of where it was found

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

**format()**	Formats specified values in a string

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

**isalnum()**	Returns True if all characters in the string are alphanumeric

**isalpha()**	Returns True if all characters in the string are in the alphabet

**isdigit()**	Returns True if all characters in the string are digits

In [ ]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [ ]:
txt = "50800"

x = txt.isdigit()

print(x)

True

**lower()**	Converts a string into lower case

**upper()**	Converts a string into upper case

**swapcase()** Swaps cases, lower case becomes upper case and vice versa

In [ ]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [ ]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

**replace()**	Returns a string where a specified value is replaced with a specified value

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

**zfill()**	Fills the string with a specified number of 0 values at the beginning

In [ ]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

**split()**	Splits the string at the specified separator, and returns a list

In [ ]:
txt = "welcome to the jungle"

x = txt.split(' ')

print(x)

['welcome', 'to', 'the', 'jungle']

**join()**	Converts the elements of an iterable into a string

In [ ]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

# Python Collections (Arrays)



There are four collection data types in the Python programming language:

1. **List** is a collection which is ordered and changeable. Allows duplicate members.
2. **Tuple** is a collection which is ordered and **unchangeable**. Allows duplicate members.
3. **Set** is a collection which is unordered, **unchangeable**, and unindexed. No duplicate members.
4. **Dictionary** is a collection which is ordered and changeable. No duplicate members.

# List

Ordered

Changable

Allow Duplicates

## List Operations

In [2]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [3]:
# Change List Items

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [4]:
# Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Loop Lists

In [6]:
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [7]:
# Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [8]:
# Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [10]:
# Looping using list comprehention

thislist = ["apple", "banana", "cherry"]
print([i for i in thislist])

['apple', 'banana', 'cherry']

## List Methods

**append()**	Adds an element at the end of the list

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

**extend()**	Add the elements of a list (or any iterable), to the end of the current list

In [ ]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

**pop()**	Removes the element at the specified position

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)  # Takes index as argument
print(fruits)

['apple', 'cherry']

**remove()**	Removes the first item with the specified value

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")  # Takes element to be removed as argument
print(fruits)

['apple', 'cherry']

**count()**	Returns the number of elements with the specified value

In [ ]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
print(x)

1

**index()**	Returns the index of the first element with the specified value

In [ ]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
print(x)

2

**insert()**	Adds an element at the specified position

In [ ]:
# Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

print(fruits)

['apple', 'orange', 'banana', 'cherry']

**reverse()**	Reverses the order of the list

In [ ]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

**sort()**	Sorts the list

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']
num = [5,9,63,8]

cars.sort()                # For Ascending
num.sort(reverse = True)   # For Descending

print(cars)
print(num)

['BMW', 'Ford', 'Volvo']
[63, 9, 8, 5]

**clear()**	Removes all the elements from the list

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

print(fruits)

[]

**min(), max(), sum()**

In [ ]:
print(min([2,9,1,89]))
print(max([69,9,7,89,36,1]))
print(sum([21,6,98]))

1
89
125

In [5]:
# Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

# Tuple

**Ordered**

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**

Since tuples are indexed, they can have items with the same value:

In [1]:
tuple1 = ("abc", 34, True, 40, "male")

**Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

Example
Convert the tuple into a list to be able to change it:

In [11]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**Add Items**

Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [13]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Tuple Methods

**count()**	Returns the number of times a specified value occurs in a tuple

In [14]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

**index()**	Searches the tuple for a specified value and returns the position of where it was found

In [15]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3